@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="public-layout">
    <div class="public-content">
        @Body
    </div>
</MudLayout>

